section#apply {
    position: absolute;
    background-color: $spectiv__tint_color;
    width: 100%;
    height: calc(100% - 60px);
    .apply-form {
        background-color: $spectiv__back_color;
        width: 50%;
        padding: 1rem 10%;
        border-radius: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        .form-title {
            text-align: center;
            color: $spectiv__tint_color;
            font-size: 25px;
            font-family: 'HKNova-medium';
        }
        .apply-banner {
            width: 40%;
            margin: 0 auto;
        }
        .txt-question {
            color: $spectiv__font_grey;
            font-size: 16px;
            font-family: 'HKNova'
        }
        .question-input {
            line-height: 40px;
            border: none;
            background: transparent;
            width: 100%;
            outline: none;
            text-indent: 1rem;
            border-bottom: 1.5px $spectiv__tint_color solid;
        }
        .question-select {
            width: 100%;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;
            line-height: 40px;
            padding: 0 1rem;
            margin-bottom: 2rem;
            outline: none;
        }
        .question-brief {
            line-height: 40px;
            background: transparent;
            width: 100%;
            border: 1px solid $spectiv__font_grey;
            outline: none;
            text-indent: 1rem;
        }
        .qa-submit {
            text-align: center;
            width: 40%;
            background: $spectiv__tint_color;
            border: none;
            font-family: 'HKNova-medium';
            font-size: 18px;
            height: 50px;
            color: $spectiv__back_color;
            outline: none;
            margin: 0 30% 3rem;
        }
        .has-error {
            color: red;
            margin-bottom: 2rem;
        }
    }
}