nav.navbar {
  height: 60px;
  background: $spectiv__tint_color;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  z-index: 10;
  .navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
    .navbar-menu-wrapper {
      img {
        height: 16px;
      }
    }
    .logo-home {
      cursor: pointer;
      img {
        height: 32px;
        &:first-child {
          padding-right: 8px;
        }
        &:nth-child(2) {
          height: 28px;
        }
      }
    }
  }
  .navbar-center {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    .ais-InstantSearch__root {
      width: 100%;
      .search-bar-wrapper {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-left: 10%;
        input {
          width: 50%;
          border: none;
          padding-left: 6px;
          padding-top: 8px;
          padding-bottom: 8px;
          color: white;
          background: transparent;
          border-top: 1px solid transparent;
          border-left: 1px solid transparent;
          border-bottom: 1px solid #ffffff;
          transition: all .35s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          &:focus {
            outline: none;
            border-top-color: #ffffff;
            border-left-color: #ffffff;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            width: 85%;
            & + .search-bar-btn {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
          }
          &::placeholder {
            font-family: 'HKNova-light', sans-serif;
            font-size: 14px;
            color: rgba(255, 255, 255, .5);
          }
        }
        input.expand {
          outline: none;
          border: none;
          padding-left: 6px;
          padding-top: 8px;
          padding-bottom: 8px;
          color: #1d1d1f;
          background: transparent;
          border-top: 1px solid transparent;
          border-left: 1px solid transparent;
          border-bottom: 1px solid #4EBD94;
          transition: all .35s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          border-top-color: #4EBD94;
          border-left-color: #4EBD94;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          width: 85%;
          & + .search-bar-btn {
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
          }
          &::placeholder {
            font-family: 'HKNova-light', sans-serif;
            font-size: 14px;
            color: #B7B7B7;
          }
        }
        .search-bar-btn {
          border: none;
          background: #ffffff;
          border-radius: 0px;
          transition: all .35s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          &:focus {
            outline: none;
          }
          img {
            height: 20px;
          }
        }
      }
      .search-result {
        position: absolute;
        z-index: 1;
        background-color: #F7F7F7;
        width: 35%;
        right: 32.1%;
        margin-top: 12px;
        padding: 10px 6px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        button {
          border: none;
          width: 50%;
          background: transparent;
          font-family: 'HKNova', sans-serif;
          font-size: 15px;
          cursor: pointer;
          border-bottom: 2px solid transparent;
          &.active {
            border-bottom: 2px solid #4EBD94;
          }
          &:focus {
            outline: none;
          }
        }
        .search-result-item {
          margin: 10px 5px;
          font-family: 'HKNova-light', sans-serif;
          a {
            text-decoration: none;
            color: #4fbd94;
            em.ais-Highlight__highlighted {
              color: black;
              font-style: normal;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
        .empty-list-text {
          margin-top: 17px;
          &:hover {
            cursor: default;
          }
        }
      }
    }
  }
  .navbar-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'HKNova-light', sans-serif;
    .general-options {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      height: 100%;
      li {
        display: flex;
        align-items: center;
        height: 100%;
        transition: all .25s ease-in-out;
        &:hover {
          img {
            transform: translateY(-8px);
          }
        }
        &:active {
          background: rgba(0,0,0, .12);
        }
        &:nth-child(2) {
          .account-nav-item {
            &:hover {
              span {
                background: #469a7b;
                color: white;
              }
            }
            span {
              background: white;
              color: #4EBD94;
            }
          }
        }
        .account-nav-item {
          text-decoration: none;
          font-size: 14px;
          padding-right: 8px;
          padding-left: 8px;
          &:hover {
            span {
              border: 1px solid #469a7b;
              color: #469a7b;
            }
          }
          span {
            border: 1px solid white;
            color: white;
            padding: 4px 8px;
            border-radius: 10em;
            transition: all .25s ease-in-out;
          }
        }

        a {
          height: 100%;
          width: 100%;
          padding-right: 12px;
          padding-left: 12px;
          display: flex;
          align-items: center;
          img {
            height: 30px;
            width: auto;
            transition: all .25s ease-in-out;
          }
        }
      }
    }
    .account-nav {
      border-left: 1px solid rgba(255,255,255, .25);
      padding-left: 16px;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      cursor: pointer;
      .avatar-img {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #686578;
      }
      .drop-down-img {
        height: 14px;
        width: 14px;
        padding-left: 12px;
      }
    }
  }
}
