$spectiv__tint_color: #4EBD94;
$spectiv__back_color: #F7F7F7;

$spectiv__font_grey: #999999;
$spectiv__font_grey_90: #eeeeee;
$spectiv__font_grey_80: #dddddd;
$spectiv__font_grey_70: #cccccc;
$spectiv__font_grey_40: #6f6f6f;

$spectiv__color_bright: #f2f4f7;
