@font-face {
  font-family: 'HKNova-thin';
  font-style: 'normal';
  src: url('/static/font/HKNova-ThinR.otf');
}
@font-face {
  font-family: 'HKNova-xlight';
  font-style: 'normal';
  src: url('/static/font/HKNova-ExtraLightR.otf');
}
@font-face {
  font-family: 'HKNova-light';
  font-style: 'normal';
  src: url('/static/font/HKNova-LightR.otf');
}
@font-face {
  font-family: 'HKNova';
  font-style: 'normal';
  src: url('/static/font/HKNova-RegularR.otf');
}
@font-face {
  font-family: 'HKNova-medium';
  font-style: 'normal';
  src: url('/static/font/HKNova-MediumR.otf');
}
@font-face {
  font-family: 'HKNova-sbold';
  font-style: 'normal';
  src: url('/static/font/HKNova-SemiBoldR.otf');
}
@font-face {
  font-family: 'HKNova-bold';
  font-style: 'normal';
  src: url('/static/font/HKNova-BoldR.otf');
}
@font-face {
  font-family: 'HKNova-xbold';
  font-style: 'normal';
  src: url('/static/font/HKNova-ExtraBoldR.otf');
}
